{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- content-starts-here -->
    <div class="content">
        <div class="categories">
            <div class="container">
            {% if categories  %}
                {% for category in categories %}          
                <div class="col-md-2 focus-grid">
                    <a href="categories.html">
                        <div class="focus-border">
                            <div class="focus-layout">
                                <div class="focus-image">
                                    <a href="{{category.get_absolute_url}}">
                                        <img src="{{category.image.url}}" width="100" height="100">
                                    </a>
                                </div>
                                <h4 class="clrchg">{{category}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-md-2 focus-grid">
                    <p>No category found.</p>
                </div>        
            {% endif %}          
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="trending-ads">
            <div class="container">
                <!-- slider -->
                <div class="trend-ads">
                    <h2>Trending Ads</h2>
                    <ul id="flexiselDemo3">
                        <li>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p1.jpg' %}"/>
                                    <span class="price">&#36; 450</span>
                                </a>
                                <div class="ad-info">
                                    <h5>There are many variations of passages</h5>
                                    <span>1 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p2.jpg' %}"/>
                                    <span class="price">&#36; 399</span>
                                </a>
                                <div class="ad-info">
                                    <h5>Lorem Ipsum is simply dummy</h5>
                                    <span>3 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p3.jpg' %}"/>
                                    <span class="price">&#36; 199</span>
                                </a>
                                <div class="ad-info">
                                    <h5>It is a long established fact that a reader</h5>
                                    <span>8 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p4.jpg' %}"/>
                                    <span class="price">&#36; 159</span>
                                </a>
                                <div class="ad-info">
                                    <h5>passage of Lorem Ipsum you need to be</h5>
                                    <span>19 hour ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p5.jpg' %}"/>
                                    <span class="price">&#36; 1599</span>
                                </a>
                                <div class="ad-info">
                                    <h5>There are many variations of passages</h5>
                                    <span>1 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p6.jpg' %}"/>
                                    <span class="price">&#36; 1099</span>
                                </a>
                                <div class="ad-info">
                                    <h5>passage of Lorem Ipsum you need to be</h5>
                                    <span>1 day ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p7.jpg' %}"/>
                                    <span class="price">&#36; 109</span>
                                </a>
                                <div class="ad-info">
                                    <h5>It is a long established fact that a reader</h5>
                                    <span>9 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p8.jpg' %}"/>
                                    <span class="price">&#36; 189</span>
                                </a>
                                <div class="ad-info">
                                    <h5>Lorem Ipsum is simply dummy</h5>
                                    <span>3 hour ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p9.jpg' %}"/>
                                    <span class="price">&#36; 2599</span>
                                </a>
                                <div class="ad-info">
                                    <h5>Lorem Ipsum is simply dummy</h5>
                                    <span>3 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p10.jpg' %}"/>
                                    <span class="price">&#36; 3999</span>
                                </a>
                                <div class="ad-info">
                                    <h5>It is a long established fact that a reader</h5>
                                    <span>9 hour ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p11.jpg' %}"/>
                                    <span class="price">&#36; 2699</span>
                                </a>
                                <div class="ad-info">
                                    <h5>passage of Lorem Ipsum you need to be</h5>
                                    <span>1 day ago</span>
                                </div>
                            </div>
                            <div class="col-md-3 biseller-column">
                                <a href="single.html">
                                    <img src="{% static 'images/p12.jpg' %}"/>
                                    <span class="price">&#36; 899</span>
                                </a>
                                <div class="ad-info">
                                    <h5>There are many variations of passages</h5>
                                    <span>1 hour ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
                    $(window).load(function() {
                    $("#flexiselDemo3").flexisel({
                    visibleItems:1,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 5000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                    portrait: {
                    changePoint:480,
                    visibleItems:1
                    },
                    landscape: {
                    changePoint:640,
                    visibleItems:1
                    },
                    tablet: {
                    changePoint:768,
                    visibleItems:1
                    }
                    }
                    });
                    
                    });
                    </script>
                    <script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
                </div>
            </div>
            <!-- //slider -->
        </div>
        <div class="mobile-app">
            <div class="container">
                <div class="col-md-5 app-left">
                    <a href="mobileapp.html"><img src="{% static 'images/app.png' %}" alt=""></a>
                </div>
                <div class="col-md-7 app-right">
                    <h3>Resale App is the <span>Easiest</span> way for Selling and buying second-hand goods</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor Sed bibendum varius euismod. Integer eget turpis sit amet lorem rutrum ullamcorper sed sed dui. vestibulum odio at elementum. Suspendisse et condimentum nibh.</p>
                    <div class="app-buttons">
                        <div class="app-button">
                            <a href="#"><img src="{% static 'images/1.png' %}" alt=""></a>
                        </div>
                        <div class="app-button">
                            <a href="#"><img src="{% static 'images/2.png' %}" alt=""></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer section start-->



<!--  -->

    <!-- Categories -->
    <!--Vertical Tab-->
    <div class="categories-section main-grid-border">
        <div class="container">
            <h2 class="head">Main Categories</h2>
            <div class="category-list">
                <div id="parentVerticalTab">
                    <ul class="resp-tabs-list hor_1">
                        {% if categories  %}
                            {% for category in categories %} 
                                <li>{{category}}</li>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-2 focus-grid">
                                <p>No category found.</p>
                            </div>        
                        {% endif %}                           
                        <a href="all-classifieds.html">All Ads</a>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <span class="active total" style="display:block;" data-toggle="modal" data-target="#myModal"><strong>All USA</strong> (Select your city to see local ads)</span>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat1.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Mobiles</h4>
                                    <span>5,12,850 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="mobiles.html">mobile phones</a></li>
                                    <li><a href="mobiles.html">Tablets</a></li>
                                    <li><a href="mobiles.html">Accessories</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat2.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Electronics & Appliances</h4>
                                    <span>2,01,850 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="electronics-appliances.html">Computers & accessories</a></li>
                                    <li><a href="electronics-appliances.html">Tv - video - audio</a></li>
                                    <li><a href="electronics-appliances.html">Cameras & accessories</a></li>
                                    <li><a href="electronics-appliances.html">Games & Entertainment</a></li>
                                    <li><a href="electronics-appliances.html">Fridge - AC - Washing Machine</a></li>
                                    <li><a href="electronics-appliances.html">Kitchen & Other Appliances</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat3.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Cars</h4>
                                    <span>1,98,080 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="cars.html">Commercial Vehicles</a></li>
                                    <li><a href="cars.html">Other Vehicles</a></li>
                                    <li><a href="cars.html">Spare Parts</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat4.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Bikes</h4>
                                    <span>6,17,568 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="bikes.html">Motorcycles</a></li>
                                    <li><a href="bikes.html">Scooters</a></li>
                                    <li><a href="bikes.html">Bicycles</a></li>
                                    <li><a href="bikes.html">Spare Parts</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat5.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Furniture</h4>
                                    <span>1,05,168 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="furnitures.html">Sofa & Dining</a></li>
                                    <li><a href="furnitures.html">Beds & Wardrobes</a></li>
                                    <li><a href="furnitures.html">Home Decor & Garden</a></li>
                                    <li><a href="furnitures.html">Other Household Items</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat6.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Pets</h4>
                                    <span>1,77,816 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="pets.html">Dogs</a></li>
                                    <li><a href="pets.html">Aquariums</a></li>
                                    <li><a href="pets.html">Pet Food & Accessories</a></li>
                                    <li><a href="pets.html">Other Pets</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat7.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Books, Sports & Hobbies</h4>
                                    <span>9,58,458 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="books-sports-hobbies.html">Books & Magazines</a></li>
                                    <li><a href="books-sports-hobbies.html">Musical Instruments</a></li>
                                    <li><a href="books-sports-hobbies.html">Sports Equipment</a></li>
                                    <li><a href="books-sports-hobbies.html">Gym & Fitness</a></li>
                                    <li><a href="books-sports-hobbies.html">Other Hobbies</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat8.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Fashion</h4>
                                    <span>3,52,345 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="fashion.html">Clothes</a></li>
                                    <li><a href="fashion.html">Footwear</a></li>
                                    <li><a href="fashion.html">Accessories</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat9.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Kids</h4>
                                    <span>8,45,298 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="kids.html">Furniture And Toys</a></li>
                                    <li><a href="kids.html">Prams & Walkers</a></li>
                                    <li><a href="kids.html">Accessories</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat10.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Services</h4>
                                    <span>7,58,867 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="services.html">Education & Classes</a></li>
                                    <li><a href="services.html">Web Development</a></li>
                                    <li><a href="services.html">Electronics & Computer Repair</a></li>
                                    <li><a href="services.html">Maids & Domestic Help</a></li>
                                    <li><a href="services.html">Health & Beauty</a></li>
                                    <li><a href="services.html">Movers & Packers</a></li>
                                    <li><a href="services.html">Drivers & Taxi</a></li>
                                    <li><a href="services.html">Event Services</a></li>
                                    <li><a href="services.html">Other Services</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat11.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Jobs</h4>
                                    <span>5,74,547 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="jobs.html">Customer Service</a></li>
                                    <li><a href="jobs.html">IT</a></li>
                                    <li><a href="jobs.html">Online</a></li>
                                    <li><a href="jobs.html">Marketing</a></li>
                                    <li><a href="jobs.html">Advertising & PR</a></li>
                                    <li><a href="jobs.html">Sales</a></li>
                                    <li><a href="jobs.html">Clerical & Administration</a></li>
                                    <li><a href="jobs.html">Human Resources</a></li>
                                    <li><a href="jobs.html">Education</a></li>
                                    <li><a href="jobs.html">Hotels & Tourism</a></li>
                                    <li><a href="jobs.html">Accounting & Finance</a></li>
                                    <li><a href="jobs.html">Manufacturing</a></li>
                                    <li><a href="jobs.html">Part - Time</a></li>
                                    <li><a href="jobs.html">Other Jobs</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <div class="category-img">
                                    <img src="{% static 'images/cat12.png' %}" title="image" alt="" />
                                </div>
                                <div class="category-info">
                                    <h4>Real Estate</h4>
                                    <span>98,156 Ads</span>
                                    <a href="all-classifieds.html">View all Ads</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="sub-categories">
                                <ul>
                                    <li><a href="real-estate.html">Houses</a></li>
                                    <li><a href="real-estate.html">Apartments</a></li>
                                    <li><a href="real-estate.html">PG & Roommates</a></li>
                                    <li><a href="real-estate.html">Land & Plots</a></li>
                                    <li><a href="real-estate.html">Shops - Offices - Commercial Space</a></li>
                                    <li><a href="real-estate.html">Vacation Rentals - Guest Houses</a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Plug-in Initialisation-->
    <script type="text/javascript">
        $(document).ready(function() {

            //Vertical Tab
            $('#parentVerticalTab').easyResponsiveTabs({
                type: 'vertical', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo2');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>
    <!-- //Categories -->

<!--  -->



{% endblock content %}



